---
layout: layout
---
<p>name: {{name }}</p>
<p>location: {{ location }}</p>
<p>website: <a href="{{ url }}">{{ url }}</a></p>
<p><a href="/tags/{{ name | slug }}">Talks</a></p>

{{ content | safe }}