html, body {
    margin: 0;
    padding: 0;
    font-family: freight-sans-pro, sans-serif;
	scroll-behavior: smooth;
}

h1 {
    font-family: "mono45-headline", sans-serif;
}

h2, h3, h4 {
    font-family: freight-macro-pro, sans-serif;
}

h1, h2, h3, h4 {
    line-height: 1.125em;
    margin: 32px 0 16px 0;
    color: #112378;
}

h1, h2 {
    font-weight: 500;
}

h3, h4 {
    font-weight: 500;
}

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 24px; }

h2 img {
    height: 35px;
    vertical-align: bottom;
}


img, video {
    max-height: 100%;
    max-width: 100%;
}

figcaption {
    font-size: 75%;
    font-style: italic;
}

p {
    line-height: 1.5;
    margin: 0 0 16px 0;
}

blockquote {
	margin: 0;
	border-left: 2px solid #aaa;
	padding-left: 18px;
}

strong {
    font-weight: 700;
}

span.strike {
    text-decoration: line-through;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    max-width: 343px;
}

.styled-table thead tr {
    color: #112378;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr,
.styled-table tbody tr {
    border-bottom: #cfd3e4 1px solid
}

.styled-table th{
    font-family: freight-macro-pro, serif;
    font-weight: 500;
    font-style: normal;
}

.styled-table tbody tr.passed {
    color: #ccc;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.faded {
    opacity: .50;
}

.note-emphasis {
    display: inline-block;
    background-color: #ffd007; 
    padding: 2px 5px;
    margin-top: 2px;
    font-family: freight-macro-pro, serif; 
    font-weight: 400; 
    font-style: italic;
    color:#112378;
}


ul>li {
    line-height: 1.5em;
}

a, a:visited {
    color: #0033FF;
}

a[target="_blank"]:after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    font-size: 10px;
    margin:0 8px;
    content: "\f35d";
}

/* start link style for kit form custom content */
.seva-custom-content a, .seva-custom-content a:visited {
    color: #0033FF;
  	text-decoration: underline;
}
/* end link style for kit form custom content */

i.fas {
    width: 30px;
}

/* start highlight */
.highlight {
    border-radius: 4px;
    font-weight: 500;
}

span.highlight {
    padding: 2px 8px;
    line-height: 2em;
}

div.highlight {
    padding: 16px;
    margin: 8px 0;
    text-align: center;
    color: #112378;
}

.highlight.success {
    background-color: #17C37B;
}

.highlight.info {
    padding-left: 16px;
    background-color: #cfd3e4;
}

.highlight.info::before {
    content: "\f0eb";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #112378;
    left:-8px;
    position: relative;
}

.highlight.warning {
    background-color: #ffcf07;
}

.highlight.error {
    background-color: #ee3e4a;
    color: #fff;
}
/* end highlight */

/* start CTA */
.cta {
    font-family: mono45-headline, sans-serif;
    background-color: #0033FF;
    border: 4px solid #0033FF;
    font-weight: 500;
}

div.cta {
	font-size: 24px;
    padding: 8px 16px;
    margin: 16px 0;
    display: inline-block;
}

span.cta {
	font-size: 18px;
    padding: 8px;
}

.cta a, .cta a:visited {
    color: #fff5cc;
  	text-decoration: none;
}

.cta:hover {
	background-color: #112378;
    border: 4px solid #112378;
}

.cta.secondary {
    color: #0033FF;
    background: none;
    border: 4px solid #0033FF;
    font-weight: 300;
}


.cta.secondary a, .cta.secondary a:visited {
    color: #0033FF;
  	text-decoration: none;
}

.cta.secondary:hover {
	border: 4px solid #112378;
}

.cta.secondary:hover a {
    color: #112378;
}

.cta.nope {
	color: #000;
	background-color: #ccc;
    border: 4px solid #666;
}

a.buy, a.buy:visited {
    display: inline-block;
    margin: 16px 0;
    background: #FFD007 0% 0% no-repeat padding-box;
    color: #112378;
    padding: 16px;
}

a.buy:hover {
    background: #fff6cd;
    color: #112378;
}

#toc {
    /*background-color: #eee;
    padding: 8px 16px;
    border: 1px solid #112378;*/
    margin-bottom: 16px;
}

#toc h2 {
    font-family: "mono45-headline", sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-decoration: underline;
}

#toc a, #toc a:visited {
    font-weight: 700;
    text-decoration: none;
}

#toc a:hover {
    text-decoration: underline;
}

#toc ul {
    padding-inline-start: 0;
}

#page #toc li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 14px;
    height: 14px;
}

div.icon {
    display: inline-block;
}

/* end CTA */

.sharing {
    font-family: monospace;
    font-size: 80%;
    background: white;
    padding: 8px;
}

pre.sharing {
    white-space: pre-wrap;
}


@media only screen and (min-width: 768px) {
    .wide {
        margin: 0 auto;
        width: 70%;
    }

    .styled-table {
        max-width: 100%;
        min-width: 400px;
    }

}
